.about-page-img {
  height: 66vh;
}

.about-staff-container {
  position: relative;
  margin-bottom: 5rem !important;
}

.about-staff-img {
  width: 70%;
}

#about-staff-caption {
  position: absolute;
  top: 50%;
  left: 32%;
}
.about-staff-caption-btn {
  font-size: 1.4rem;
}

@media screen and (max-width: 1024px) {
  .about-staff-caption-btn {
    font-size: 1.4rem;
  }
}

@media screen and (max-width: 768px) {
  .about-page-img {
    height: auto;
  }

  .about-staff-caption {
    font-size: 1rem;
  }
  .about-staff-caption-btn {
    font-size: 0.7rem;
  }
}
