.accordion-title {
  filter: drop-shadow(0rem 0.2rem 0.2rem rgba(0, 0, 0, 0.35));
  font-size: 2rem;
}

.accordion-item-title {
  width: 100%;
  font-size: 1.5rem;
}

.accordion-body {
  margin-top: 0.1rem;
  border: 0.5px solid rgba(0, 0, 0, 0.35);
}

.accordion-button:focus {
  box-shadow: 0 0 0 0.1rem currentColor;
}

.accordion-img-first {
  width: 20%;
}

.accordion-img-title-content {
  width: 70%;
}

.accordion-items-container {
  margin: auto;
  width: 70%;
}

.accordion-button::after {
  display: none;
}

.accordion-title-arrow {
  text-align: end;
}

.transform-180 {
  transform: rotate(180deg);
  transition: ease-in 100ms;
}

.transform-0 {
  transform: rotate(0deg);
  transition: ease-in 100ms;
}

@media screen and (max-width: 768px) {
  .accordion-img {
    width: 100%;
  }
  .accordion-img-first {
    width: 50%;
  }

  .accordion-title {
    font-size: 1.7rem;
  }

  .accordion-items-container {
    width: 100%;
  }

  .accordion-img-content {
    width: 50% !important;
  }

  .accordion-img {
    width: 100% !important;
  }
}

@media screen and (min-width: 769px) {
  .accordion-img-title-content {
    margin: auto;
  }
  .accordion-title {
    font-size: 1.7rem;
  }

  .accordion-img {
    width: 40%;
  }
  .accordion-img-first {
    width: 20%;
  }
}

@media screen and (min-width: 1300px) {
  .accordion-img {
    width: 35%;
  }
  .accordion-img-first {
    width: 15%;
  }
}

@media screen and (max-width: 450px) {
  .accordion-title {
    font-size: 1.2rem !important;
  }
  .accordion-img-first {
    width: 70%;
  }
}
