.accordion {
  width: 85%;
}

.accordion-title {
  filter: drop-shadow(0rem 0.2rem 0.2rem rgba(0, 0, 0, 0.35));
  font-size: 2rem;
}

.accordion-item-title {
  width: 100%;
  font-size: 1.1rem;
}

.accordion-body {
  margin-top: 0.1rem;
  border: 0.5px solid rgba(0, 0, 0, 0.35);
}

.accordion-button:focus {
  box-shadow: 0 0 0 0.1rem currentColor;
}

.accordion-img-first {
  width: 20%;
}

.accordion-img-content {
  width: 55%;
}

.accordion-img-title-content {
  width: 70%;
}

.accordion-items-container {
  margin: auto;
  width: 58%;
}

.accordion-button::after {
  display: none;
}

.accordion-title-arrow {
  text-align: end;
}

.transform-180 {
  transform: rotate(180deg);
  transition: ease-in 100ms;
}

.transform-0 {
  transform: rotate(0deg);
  transition: ease-in 100ms;
}

@media screen and (max-width: 768px) {
  .accordion-img-first {
    width: 35%;
  }

  .accordion-title {
    font-size: 1.7rem;
  }

  .accordion-items-container {
    width: 100%;
  }
}

@media screen and (min-width: 799px) and (max-width: 1299px) {
  .accordion-img-title-first-content {
    margin: auto;
    margin-left: 8rem !important;
  }
}

@media screen and (min-width: 769px) {
  .accordion-img-title-content {
    margin: auto;
  }
  .accordion-img-title-first-content {
    margin: auto;
    margin-left: 5.5rem;
  }
  .accordion-title {
    font-size: 1.7rem;
  }

  .accordion-img {
    width: 30%;
  }
  .accordion-img-first {
    width: 25%;
  }
}

@media screen and (min-width: 2050px) {
  .accordion-img-title-first-content {
    margin-left: 20.5rem !important;
  }
}

@media screen and (min-width: 1550px) {
  .accordion-img-title-first-content {
    margin-left: 14.5rem;
  }
}

@media screen and (min-width: 1300px) and (max-width: 1549px) {
  .accordion-img-title-first-content {
    margin: auto;
    margin-left: 11rem;
  }
}
@media screen and (min-width: 1300px) {
  .accordion-img {
    width: 150px !important;
  }

  .accordion-img-first {
    width: 15%;
  }
}

@media screen and (min-width: 451px) {
  .accordion-img {
    width: 80px;
  }
}

@media screen and (max-width: 450px) {
  .accordion-title {
    font-size: 1.5rem !important;
  }
  .accordion-img-first {
    width: 45%;
  }
  .accordion-img {
    width: 80px;
  }
}
