.careers-container {
  margin-top: 9rem;
  margin-bottom: 9rem;
}

.careers-icon-container {
  width: 55%;
  margin-right: 1rem;
}

@media screen and (min-width: 992px) {
  .careers-container {
    width: 75%;
  }

  .career-inner-container {
    margin: 5rem 7rem;
  }
}
@media screen and (min-width: 1020px) and (max-width: 1030px) {
  .careers-container {
    width: 100%;
  }

}

@media screen and (min-width: 768px) and (max-width: 992px) {
  .careers-icon-container {
    margin: auto;
    width: 40%;
  }
}

@media screen and (max-width: 768px) {
  .careers-container {
    text-align: center;
  }

  .careers-icon-container {
    margin: 1rem;
    margin-left: auto;
    margin-right: auto;
  }

  .block-img {
    width: 55% !important;
  }

  .careers-text {
    margin: 1rem;
    font-size: 1.1rem !important;
  }

  .careers-title-text {
    font-size: 1.5rem !important;
  }
}

@media screen and (min-width: 315px) and (max-width: 380px) {
  .careers-title-text {
      font-size: 1.29rem !important;
  }
}
@media screen and (min-width: 315px) and (max-width: 330px) {
  .careers-btn-container {
      width: 79% !important;
  }
}

@media screen and (min-width: 370px) and (max-width: 380px) {
  .careers-btn-container {
      width: 73% !important;
  }
}

@media screen and (min-width: 400px) and (max-width: 430px) {
  .careers-btn-container {
      width: 69% !important;
  }
}
@media screen and (min-width: 760px) {

  .careers-content {
    display: flex;
  }

  
}
