.carousel-item {
  width: 100%;
  height: 36rem;
}


.carousel-caption-bg{
  background: #80808063;
  padding: 0.2rem;
}

#staff_photo {
  position: relative;
  object-position: top;
  object-fit: cover;
}
.carousel-control-prev,
.carousel-control-next {
  opacity: 1;
  height: min-content;
}

.fa-arrow-left:before,
.fa-arrow-right:before {
  font-size: 3.2rem;
}

#playground-caption {
  text-align: start;
  bottom: 8rem;
  left: 27rem;
  width: 21%;
}

#staff-caption {
  text-align: start;
  bottom: 7rem;
  left: 75rem;
  width: 25%;
}

.video.video-full {
  opacity: 1;
  transition: opacity .85s ease-out;
  -moz-transition: opacity .85s ease-out;
  -webkit-transition: opacity .85s ease-out;
  -o-transition: opacity .85s ease-out;
}

.video {

  opacity: 0;
}

@media screen and (max-width: 768px) {
  .carousel-title{
    font-size: 1.3rem;
    width: 133%;
  }
  .carousel-item {
    width: 100%;
    height: 19rem;
  }

  #playground-caption {
    text-align: start;
    bottom: 0rem;
    left: 12rem;
    width: 42%;
  }

  #staff-caption {
    text-align: center;
    bottom: 1rem;
    left: 6rem;
    width: 56%;
  }

  .fa-arrow-left:before,
  .fa-arrow-right:before {
    font-size: 1.6rem;
  }
}

@media screen and (max-width: 320px) {
  #playground-caption {
    text-align: start;
    bottom: 1rem;
    left: 4rem;
    width: 51%;
  }

  #staff-caption {
    text-align: center;
    bottom: 1rem;
    left: 4rem;
    width: 64%;
  }
}

@media screen and (min-width: 370px) and (max-width: 375px) {
  #staff-caption {
    text-align: center;
    bottom: 11rem;
    left: 6rem;
    width: 54%;
  }
}

@media screen and (min-width: 420px) and (max-width: 425px) {
  #staff-caption {
    text-align: center;
    bottom: 11rem;
    left: 7rem;
    width: 50%;
  }
}

@media screen and (min-width: 760px) and (max-width: 770px) {
  #staff-caption {
    text-align: center;
    bottom: 1rem;
    left: 11rem;
    width: 32%;
}
  #staff-description-1 {
    display: block !important;
  }
  
  #staff-description-2 {
    display: none !important;
  }
}

@media screen and (min-width: 1020px) and (max-width: 1030px) {
  #staff-caption {
    text-align: start;
    bottom: 1rem;
    left: 31rem;
    width: 36%;
  }
}

@media screen and (min-width: 1435px) and (max-width: 1445px) {
  #staff-caption {
    text-align: start;
    left: 56rem;
    width: 26%;
  }
}

@media screen and (min-width: 2560px) and (max-width: 2565px) {
  #staff-caption {
    text-align: start;
    bottom: 14rem;
    left: 105rem;
    width: 18%;
  }
  .carousel-item{
    height: 47rem;
  }
}

@media screen and (min-width: 370px) and (max-width: 425px) {
  #playground-caption {
    text-align: start;
    bottom: 1rem;
    left: 5rem;
    width: 44%;
  }
}
@media screen and (min-width: 1024px) and (max-width: 1440px) {
  #playground-caption {
    text-align: start;
    bottom: 5rem;
    left: 16rem;
    width: 36%;
  }
}
