/* Ensure html and body take up full viewport height by default */
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden; 
}

.layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh; 
  justify-content: space-between; 
}


.main-content-wrapper {
  flex-grow: 1; 
}

.test {
  display: none !important; 
}
