.layout {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
@media screen and (min-width: 315px) and (max-width: 1000px) {
.test{
    display: block !important;
}
}