/* .program-types-container {
  width: 75%;
} */

.program-info-cards:hover {
  scale: 1.05;
  transition: 1s;
}

.program-info-cards {
  filter: drop-shadow(0rem 0.2rem 0.2rem rgba(0, 0, 0, 0.35));
  margin: 1rem;
}

.program-info-card-title {
  margin-bottom: 0;
}

.program-info-card-age {
  font-size: 1.4rem;
}

.program-info-card-img {
  width: 40%;
}

.programs-info-button {
  font-size: 1.4rem;
  width: 12rem;
  margin-bottom: 1rem !important;
  filter: drop-shadow(0rem 0.2rem 0.2rem rgba(0, 0, 0, 0.5));
}

input {
  filter: drop-shadow(0 0.5rem 0.9rem rgba(0, 0, 0, 0.1));
}
.programs-info-content-continer {
  width: 75%;
}

.programs-info-img {
  width: 44%;
}

#backpack-image-help-choose {
  width: 75%;
}
.find-program-container {
  margin: 1rem 0rem 7rem 7rem;
}

@media screen and (max-width: 1024px) {
  .programs-info-content-continer {
    width: 100%;
  }

  .programs-info-button {
    width: 9rem;
    font-size: 1rem;
    margin-right: 0px !important;
    margin-left: 0px !important;
  }

  .programs-info-title-all {
    font-size: 1.5rem;
  }

  .find-program-programs-title {
    font-size: 1.6rem;
  }

  .find-program-container {
    margin: 0px;
  }
}

@media screen and (min-width: 1000px) and (max-width: 1040px) {
  .find-program-container {
    padding-left: 10rem !important;
  }
}

@media screen and (min-width: 768px) and (max-width: 992px) {
  #backpack-image-help-choose {
    display: none !important;
  }
  .programs-info-button {
    width: 8rem;
    font-size: 0.8rem;
    margin-right: 0px !important;
    margin-left: 0.3rem !important;
  }

  .programs-info-img {
    width: 55%;
  }
}
@media screen and (min-width: 1015px) and (max-width: 1030px) {
  .programs-info-button {
    width: 9rem;
    font-size: 1rem;
    margin-right: 0px !important;
    margin-left: 1rem !important;
  }

  .programs-info-img {
    width: 44%;
  }
  #backpack-image-help-choose {
    width: 109%;
  }
}

@media screen and (min-width: 1435px) and (max-width: 1450px) {
  .programs-info-img {
    width: 44%;
  }

  #backpack-image-help-choose {
    width: 74%;
  }
}

@media screen and (min-width: 320px) and (max-width: 768px) {
  .program-info-container {
    width: 75% !important;
  }

  .programs-info-img {
    width: 85%;
  }
}
@media screen and (min-width: 335px) and (max-width: 440px) {
  .programs-info-img {
    width: 100%;
  }
}

@media screen and (max-width: 320px) {
  .programs-info-button {
    width: 8rem;
    font-size: 0.9rem;
    margin-left: 0.5rem !important;
    margin-right: 0.5rem !important;
  }

  @media screen and (min-width: 335px) and (max-width: 378px) {
    .programs-info-button {
      margin-left: 0.5rem !important;
    }
  }
}

@media screen and (min-width: 315px) and (max-width: 330px) {
  .programs-info-img {
    width: 126%;
  }
  .programs-info-title-all {
    font-size: 1.3rem;
  }
}

.square.square-full {
  opacity: 1;
  transition: opacity 1.25s ease-out;
  -moz-transition: opacity 1.25s ease-out;
  -webkit-transition: opacity 1.25s ease-out;
  -o-transition: opacity 1.25s ease-out;
}

.square {
  opacity: 0;
}
