/* .program-types-container {
  width: 75%;
} */

.program-info-cards:hover {
  scale: 1.05;
  transition: 1s;
}

.program-info-cards {
  filter: drop-shadow(0rem 0.2rem 0.2rem rgba(0, 0, 0, 0.35));
  margin: 1rem;
}

.program-info-card-title {
  margin-bottom: 0;
}

.program-info-card-age {
  font-size: 1.4rem;
}

.program-info-card-img {
  width: 40%;
}

.programs-title-all {
  filter: drop-shadow(0rem 0.2rem 0.2rem rgba(0, 0, 0, 0.35));
}

.programs-title-submit {
  filter: drop-shadow(0rem 0.2rem 0.2rem rgba(0, 0, 0, 0.25));
}

.programs-button {
  font-size: 1.4rem;
  width: 12rem;
  margin-bottom: 1rem !important;
  filter: drop-shadow(0rem 0.2rem 0.2rem rgba(0, 0, 0, 0.5));
}

input {
  filter: drop-shadow(0 0.5rem 0.9rem rgba(0, 0, 0, 0.1));
}
.programs-info-content-continer {
  width: 75%;
}

.backpack-image {
  width: 44%;
}

#backpack-image-help-choose {
  width: 75%;
}
.find-program-container {
  margin: 7rem;
}

@media screen and (max-width: 1024px) {
  .programs-info-content-continer {
    width: 100%;
  }

  .programs-button {
    width: 9rem;
    font-size: 1rem;
    margin-right: 0px !important;
    margin-left: 0px !important;
  }

  .programs-title-all {
    font-size: 1.5rem;
  }

  .programs-title {
    font-size: 1.6rem;
  }

  .find-program-container {
    margin: 0px;
  }
}

@media screen and (min-width: 768px) and (max-width: 992px) {
  #backpack-image-help-choose {
    display: none !important;
  }
  .programs-button {
    width: 8rem;
    font-size: 0.8rem;
    margin-right: 0px !important;
    margin-left: 0.3rem !important;
  }

  .backpack-image {
    width: 55%;
  }
}
@media screen and (min-width: 1015px) and (max-width: 1030px) {
  .programs-button {
    width: 9rem;
    font-size: 1rem;
    margin-right: 0px !important;
    margin-left: 1rem !important;
  }

  .backpack-image {
    width: 44%;
  }
  #backpack-image-help-choose {
    width: 109%;
  }
}

@media screen and (min-width: 1435px) and (max-width: 1450px) {
  .backpack-image {
    width: 44%;
  }

  #backpack-image-help-choose {
    width: 74%;
  }
}
@media screen and (min-width: 315px) and (max-width: 330px) {
  .backpack-image {
    width: 112%;
  }
  .programs-title-all {
    font-size: 1.3rem;
  }
}

@media screen and (min-width: 335px) and (max-width: 767px) {
  .backpack-image {
    width: 85%;
  }
}
@media screen and (min-width: 335px) and (max-width: 440px) {
  .backpack-image {
    width: 100%;
  }
}

@media screen and (max-width: 320px) {
  .programs-button {
    width: 8rem;
    font-size: 0.9rem;
  }
}
