.reviews-page-img-container, .reviews-page-img {
    margin: 0;
    padding: 0;
}

.reviews-page-img-container {
    height: 56vh;
    overflow: hidden;
    position: relative;
}

.reviews-page-img {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0; 
    height: 100%; 
    object-fit: cover; 
}


.reviews-paragraph-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 6vh;
}

.reviews-paragraphs {
    text-align: left;
    max-width: 800px;
    width: 100%;
}

.reviews-scroll-container {
    overflow-x: auto; 
    overflow-y: hidden;
    padding: 20px 0;  
}

.reviews-scroll {
    display: flex;
    align-items: center;
    gap: 20px;
    justify-content: center; 
}

.review-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 150px;  
}

.review-image {
    width: 100px;  
    height: auto;
    margin-bottom: 10px;
}

.review-button {
    padding: 8px 16px;
    background-color: white;
    color: black;
    border: 2px solid #007bff;
    border-radius: 20px; 
    cursor: pointer;
    text-align: center;
}
