.reviews-page-img-container,
.reviews-page-img {
    margin: 0;
    padding: 0;
}

.reviews-page-img-container {
    height: 56vh;
    overflow: hidden;
    position: relative;
}

.reviews-page-img {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    object-fit: cover;
}

.img-text-overlay {
    position: absolute;
    top: 20%;
    right: 5%;
    color: white;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.7);
    text-align: right; /
}

.img-title {
    font-size: 2.5em;
    margin: 0;
}

.img-subtitle {
    font-size: 1.2em;
    margin: 5px 0 0;
}

.reviews-paragraph-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 6vh;
}

.reviews-paragraphs {
    text-align: left;
    max-width: 600px;
    width: 100%;
    margin: 0 auto;
}


.reviews-scroll-container {
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap; 
    padding: 20px 0;
    width: 100%;
    max-width: 600px; 
    margin: 0 auto;
}

.reviews-scroll {
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 0 20px;
}

.review-item {
    flex: 0 0 200px; 
    display: flex;
    flex-direction: column;
    align-items: center;
}

.review-image {
    width: 80px;
    height: auto;
    margin-bottom: 5px;
}

.review-button {
    padding: 6px 12px;
    background-color: white;
    color: black;
    border: 2px solid #007bff;
    border-radius: 15px;
    cursor: pointer;
    text-align: center;
    font-size: 14px;
    margin-top: 10px;
}

@media only screen and (max-width: 768px) {
    .reviews-paragraphs {
        max-width: 400px;
    }

    .reviews-scroll-container {
        max-width: 250px; 
    }

    .review-item {
        flex: 0 0 120px;
    }

    .review-image {
        width: 60px; 
    }

    .review-button {
        font-size: 12px; 
    }

    .img-title {
        font-size: 2em; 
    }

    .img-subtitle {
        font-size: 1em; 
    }
}
