@media screen and (min-width: 320px) and (max-width: 765px) {
  
   
    .staff-page-name-role-fun-container{
        font-size:1rem !important;
    }
    .staff-page-profile-footer-container{
        margin-left: 0rem !important;
    }
    .staff-page-footer-credential-title{
        font-size:1rem !important;
    }
  
    
    
}

.staff-page-results-container{
   background: #f0d8494f;
    padding: 2rem;
    border: 0.1px solid #0000002b;
    border-radius: 102px;
}

/* .staff-page-container table {
  background: none;
  border: none;
}

.staff-page-container table th,
.staff-page-container table td {
  border: none;
  padding: 0.4rem 0.75rem;
}

.staff-page-container table thead tr {
  border-bottom: 1px solid #ccc;
}
 */


@media screen and (min-width: 601px) and (max-width: 1001px) {
    .staff-page-container {
        width: 75% !important;
    }
}

@media screen and (max-width: 600px) {
    .staff-page-container {
        width: 75% !important;
    }
}
table {
  border-collapse: collapse !important;
  border-spacing: 0 !important;
  width: 100% !important;
  border: 1px solid #ddd !important;
}

th, td {
  text-align: left !important;
  padding: 8px !important;
}

tr:nth-child(even){background-color: #f2f2f2 !important}


