@media screen and (min-width: 320px) and (max-width: 765px) {
    .staff-page-profile-header-container {
       display: block !important;
    }
    .staff-page-container{
        margin:1rem!important;
        width:100% !important;
    }
    .staff-page-name-role-fun-container{
        font-size:1rem !important;
    }
    .staff-page-profile-footer-container{
        margin-left: 0rem !important;
    }
    .staff-page-footer-credential-title{
        font-size:1rem !important;
    }
    .staff-page-footer-credential-title-container{
        width: 81% !important;
    }
}



@media screen and (min-width: 767px) and (max-width: 800px) {
    .staff-page-container {
        margin: 2rem !important;
        width: 86% !important;
    }
}

.staff-page-results-container{
   background: #f0d8494f;
    padding: 2rem;
    border: 0.1px solid #0000002b;
    border-radius: 102px;
}

.staff-page-container table {
  background: none;
  border: none;
}

.staff-page-container table th,
.staff-page-container table td {
  border: none;
  padding: 0.4rem 0.75rem;
}

.staff-page-container table thead tr {
  border-bottom: 1px solid #ccc;
}
