.progress {
  filter: drop-shadow(0 0 0.3rem rgba(0, 0, 0, 0.2));
  height: 1.85rem;
}

.validation-text {
  text-align: end;
  font-size: 1rem;
  color: red;
}
@media screen and (min-width: 1024px) {
  #child-name {
    display: none !important;
  }
  #child-no-name {
    display: block !important;
  }
}

@media screen and (min-width: 1440px) {
  #child-name {
    display: block !important;
  }
  #child-no-name {
    display: none !important;
  }
}
@media screen and (max-width: 768px) {
  .progress {
    height: 1.5rem;
  }
  .progress-bar-text {
    font-size: 1rem;
  }
  .validation-text {
    font-size: 0.7rem;
  }
}
